<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>

<body>
    <h2> Edit Your Post </h2>
    <h4>User name: @<%=post.username%>
    </h4>
    <form method="post" action="/EditPostById/<%=post.id%>?_method=PATCH">
        <textarea name="caption" rows="10" cols="35"><%=post.caption%></textarea><br>
        <button>Done</button>
    </form>
</body>

</html>